:root {
    --background-base: #E5E5E5;
    --background-card: #fff;
    --background-secondary: #FAFAFA;
    --background-controls: #F3F3F3;
    --background-accent: #FFFBEC;
    --border-color-base: #DBDCDE;
    --border-color-form: #A9ABAE;
    --shadow-color: rgba(62, 63, 64, 0.1);
    --text-color: #2F2F30;
    --caption-color: #6C6D6F;
    --primary-color: #00A651;
    --primary-darken-color: #018f47;
    --link-color: #6665DD;
    --icon-color: #009FFD;
    --white: #fff;

    --font-family-base: 'Work Sans', sans-serif;
    --font-family-secondary: 'Source Code Pro', monospace;

    --font-weight-base: 400;
    --font-weight-bold: 600;

    --font-size-base: 16px;
    --font-size-md: 14px;
    --font-size-sm: 12px;

    --line-height-base: 1.5;
    --line-height-md: 20px;

    --h2-font-size: 24px;
    --h2-line-height: 32px;

    --gap-1: 4px;
    --gap-2: 8px;
    --gap-3: 12px;
    --gap-4: 16px;
    --gap-5: 20px;
    --gap-6: 24px;
    --gap-7: 28px;
    --gap-8: 32px;
    --gap-9: 36px;
    --gap-10: 40px;
    --gap-15: 60px;
    --widget-width: 1224px;

    --border-radius-base: 8px;
    --border-radius-sm: 6px;
    --border-radius-xs: 4px;

    --transition-base: .15s ease-in-out;

    --icon-size: 18px;

    --shadow-base: 1px 3px 3px rgba(62, 63, 64, 0.1);
    --shadow-control: 0 0 6px var(--primary-color);
    --shadow-active-btn: inset 0 0 8px 1px rgba(0, 0, 0, 0.4);
}
