:root {
    .card_bottom {
        display: flex;
        flex-wrap: wrap;
        gap: var(--gap-4);
        background: var(--background-accent);
    }

    .content {
        display: flex;
        flex-direction: column;
        gap: var(--gap-6);
        padding: var(--gap-4);
    }

    .group {
        display: flex;
        flex-direction: column;
        gap: var(--gap-2);
    }

    .label {}

    .controls {
        flex-grow: 1;
        display: flex;
        gap: var(--gap-6);
    }

    .currency {
        flex-shrink: 0;
        width: auto;
    }

    @media (min-width: 1024px) {
        .content {
            max-width: 606px;
            padding: var(--gap-10) var(--gap-15);
        }

        .group {
            flex-direction: row;
            align-items: flex-start;
            gap: var(--gap-4);

            &.center {
                align-items: center;
            }
        }

        .label {
            flex-shrink: 0;
            flex-basis: 124px;
            text-align: right;
        }
    }
}
