:root {
    .card_top {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: var(--gap-4);
    }

    .card_bottom {
        display: flex;
        flex-direction: column;
        gap: var(--gap-4);
    }

    .prices {
        display: flex;
        flex-wrap: wrap;
        align-items: baseline;
        gap: var(--gap-2);
    }

    .item {
        overflow: hidden;

        &:first-of-type {
            flex-shrink: 0;
        }
    }

    .item_title {
        margin-bottom: 2px;
    }

    .id {
        transition: var(--transition-base);

        &:hover,
        &:focus {
            color: var(--link-color);
        }
    }

    @media (min-width: 640px) and (max-width: 767px), (min-width: 1024px) {
        .card_bottom {
            flex-direction: row;
            gap: 0;
        }

        .item {
            &:not(:last-of-type) {
                padding-right: var(--gap-8);
            }

            &:not(:first-of-type) {
                padding-left: var(--gap-8);
                border-left: 1px solid var(--border-color-base);
            }
        }
    }
}
