.widget {
    display: grid;
    grid-template-areas: 'header' 'aside' 'body';
    grid-template-columns: minmax(100%, 100%);
    align-items: start;
    gap: var(--gap-6);
    max-width: var(--widget-width);
    margin: 53px auto;
    padding: 0 var(--gap-6);
    box-sizing: content-box;
}

.header {
    grid-area: header;
}

.aside {
    grid-area: aside;
}

.menu_btn {
    display: none;
}

@media (max-width: 767px) {
    .menu_btn {
        position: fixed;
        right: var(--gap-3);
        bottom: var(--gap-3);
        display: flex;
        align-items: center;
        justify-content: center;
        width: var(--gap-10);
        height: var(--gap-10);
        padding: var(--gap-1);
        box-shadow: var(--shadow-base);
        border-radius: var(--border-radius-base);
        background: var(--link-color);
        color: var(--white);
        transition: var(--transition-base);
        z-index: 10;

        svg {
            width: 100%;
        }

        &:active {
            box-shadow: var(--shadow-base), var(--shadow-active-btn);
        }
    }

    .aside {
        display: none;
        position: fixed;
        right: var(--gap-3);
        bottom: calc(var(--gap-3) * 2 + var(--gap-10));
        border-radius: var(--border-radius-base);
        box-shadow: var(--shadow-base);
        max-width: calc(100vw - var(--gap-3) * 2);
        max-height: calc(100vh - var(--gap-10) - var(--gap-3) * 3);
        z-index: 10;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: none;
        scrollbar-width: none;

        &::-webkit-scrollbar {
            display: none;
        }

        &.show {
            display: block;
        }
    }
}

@media (min-width: 768px) {
    .widget {
        grid-template-areas: 'header header' 'body aside';
        grid-template-columns: minmax(0, 100%) 264px;
    }

    .aside {
        position: sticky;
        top: var(--gap-4);
        right: 0;
    }
}
