:root {
    .select {
        padding-right: calc(var(--gap-8) + 2px);
        cursor: pointer;
    }

    .arrow {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: var(--gap-3);
        display: flex;
        width: 10px;
        height: 6px;
        color: var(--caption-color);
    }
}
