.card {
    background: var(--background-card);
    border: 1px solid var(--border-color-base);
    border-radius: var(--border-radius-base);
    box-shadow: var(--shadow-base);
}

.top {
    padding: var(--gap-4);
}

.bottom {
    padding: var(--gap-4);
    background: var(--background-secondary);
    border-top: 1px solid var(--border-color-base);
    border-bottom-left-radius: var(--border-radius-base);
    border-bottom-right-radius: var(--border-radius-base);
}

@media (min-width: 768px) {
    .top {
        padding: var(--gap-6) var(--gap-8);
    }

    .bottom {
        padding-left: var(--gap-8);
        padding-right: var(--gap-8);
    }
}
