@import "assets/scss/reset";
@import "assets/scss/fonts";
@import "assets/scss/variables";

:root {
    min-width: 320px;
    font: var(--font-size-base)/var(--line-height-base) var(--font-family-base);
    background: var(--background-base);
    color: var(--text-color);
}

@import "assets/scss/typography";
@import "assets/scss/icon";
@import "assets/scss/indent";
